<% include ../partials/topknotheader %>

<div>
	<img src="../images/roya-ann-miller-325259-unsplash.jpg" alt="Guy bouldering cover photo" class="cover-photo">
</div>
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Welcome!</h1>
  <div class="container">
  	<p class="lead">We hope you love our climbing gym as much as we do. Every day we work hard to bring you the best routes, equipment, and coaching.</p>
  </div>
  <hr>
</div>

<div class="container body">
	<div class="row">
		<div class=" col-lg-3 col-md-6 col-sm-12">

			<a href="/topknotclimbing/boulderingguide">
				<img src="../images/andreas-fidler-400356-unsplash.jpg" alt="Woman bouldering" class="link-img img-fluid">
			</a>	
				<div class="caption-text">Our Outdoor Bouldering Guide</div>

		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<a href="/topknotclimbing/gearshop">	
				<img src="../images/igor-ovsyannykov-264508-unsplash.jpg" alt="Man using ATC" class="link-img img-fluid">
			</a>
			<div class="caption-text">Check out Our Gear Shop</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<a href="/topknotclimbing/meetups">
				<img src="../images/tommy-lisbin-373129-unsplash.jpg" alt="Two climbers getting their gear in order" class="link-img img-fluid">
			</a>
			<div class="caption-text">Join in on our Outdoor Meetups</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<a href="/topknotclimbing/studio">	
				<img src="../images/jennifer-regnier-599117-unsplash.jpg" alt="Silohette doing yoga" class="link-img img-fluid">
			</a>
			<div class="caption-text">Learn more about our Yoga and Dance Class Offerings</div>
		</div>
	</div>
	<div>Google map will go here</div>
</div>

<% include ../partials/topknotfooter %>
