<% include ../partials/topknotheader %>
	<div class="jumbotron jumbotron-fluid">
	  <h1 class="display-3">Come Visit Us!</h1>
	  <div class="container">
	  	<p class="lead center-text">See our map location and hours below!</p>
	  </div>
	</div>
	<hr>
	<div class="container body">
		<h1>Location</h1>
		<div class="row">
			<div>Google Map here</div>
		</div>
		<h1 class="center-title">Gym Hours</h1>
		<div class="hours-box">
			<ul class="hours-list">
				<li>Monday: 6:00am - 10:00pm</li>
				<li>Tuesday: 6:00am - 10:00pm</li>
				<li>Wednesday: 6:00am - 10:00pm</li>
				<li>Thursday: 6:00am - 10:00pm</li>
				<li>Friday: 6:00am - 11:00pm</li>
				<li>Saturday: 8:00am - 11:00pm</li>
				<li>Sunday: 9:00am - 11:00pm</li>
			</ul>
		</div>
	</div>

<% include ../partials/topknotfooter %>