<% include ./partials/header %>

<div class="body">
    <div class="container"> 
        <h1>About Jenna</h1>
        <hr>
        <div class="resume-link-box">
            <a class="resume-link" href="/JenniferMarieSanfordResume2018.pdf">View My Resume</a>
        </div>
        <hr>
         <div>
            Questions? Email me at jennifermariesanford@gmail.com
        </div>
        <hr>
        <div class="row row-space">
            <div class="col-md-6 space">
                <p>I am currently living in Utah with my boyfriend Grey and little boxer dog Amy. I am learning more everyday about coding, photography, yoga, and myself!</p>
                <p>We go on hiking and climbing adventures as often as we can. Whether it's climbing near our home or taking a trip down to Joe's Valley, we always have a good time getting outdoors.  We've also been fortunate enough to get some skiing in the past two winters, even making it up to Big Sky, Montana.</p>
            </div>
            <div class="col-md-6 space">
                <img class="img-fluid" src="../images/couplepic.jpg">
            </div>
            <div class="col-md-6 space">
                <img class="img-fluid" src="../images/amypic2.jpg">
            </div>
            <div class="col-md-6 space">
                <img class="img-fluid" src="../images/amypic.jpg">
            </div>
        </div>
        <hr>
    </div>
    <div class="viewport2">
        <div class="container row-space">
        	<h1 class="headline">Personal Interests:</h1>
            <div class="row">
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
                    <div class="container personal-interest-box">
        	    	  <i class="fas fa-code-branch fa-5x icon"></i>
        	    	  <h3 class="interest-title">Coding</h3>
                    </div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
        	    		<i class="fas fa-camera fa-5x icon"></i>
        	    		<h3 class="interest-title">Photography</h3>
        	    	</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
              		<div class="container personal-interest-box ">
            			<i class="fas fa-street-view fa-5x icon"></i>
            			<h3 class="interest-title">Yoga</h3>
            		</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
        	    		<i class="fas fa-music fa-5x icon"></i>
        	    		<h3 class="interest-title">Music</h3>
        	    	</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
            			<i class="fas fa-birthday-cake fa-5x icon"></i>
            			<h3 class="interest-title">Baking</h3>
            		</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
            			<i class="fas fa-book fa-5x icon"></i>
            			<h3 class="interest-title">Reading</h3>
            		</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
            			<i class="fas fa-tree fa-5x icon"></i>
            			<h3 class="interest-title">Hiking</h3>
            		</div>
            	</div>
            	<div class="col-md-4 col-lg-3 col-sm-6 interest-wrapper">
            		<div class="container personal-interest-box">
            			<i class="fas fa-hand-rock fa-5x icon"></i>
            			<h3 class="interest-title">Rock Climbing</h3>
            		</div>
            	</div>
            </div>
        </div>
    </div>
    <div class="row-space container">
        <h1>Want to see what I've been up to?</h1>
        <div class="project-link-box underline">
                <a class="project-link" href="/projects">Check out my Projects <i class="fas fa-arrow-right icon-space"></i>
                </a>
            </div>
    </div>
</div>

<% include ./partials/footer %>
