<% include ./partials/header %>

<div class="container body">
  <h1>
    About Jenna
  </h1>
  <h3><a href="/JenniferMarieSanfordResume2018.pdf">Download Resume</a></h3>
  <p>
    I am currently living in Utah with my boyfriend Grey and little boxer dog Amy. I am learning more everyday about coding, photography, yoga, and myself!
  </p>
</div>

<% include ./partials/footer %>
