<% include ./partials/header %>

<div class="container body">
  <hr>
  <div class="post container">
    <h4 class="headline">
      Udemy Course: The Web Developer Bootcamp 
    </h4>
    <h5>
      Final Project - YelpCamp
    </h5>
    <div>
      <h5>
        <a href="https://agile-citadel-11480.herokuapp.com/">YelpCamp</a>
      </h5>
      <p>
        In this project, we used Node, Express, MongoDB, EJS, Bootstrap, Git and Heroku to put this web app together. 
      </p>
    </div>
  </div>
  <hr>
  <div class="post container">
    <h4 class="headline">
      Udemy Course: Become a Wordpress Developer
    </h4>
    <h5>
        Course Project: Fictional University
    </h5>
    <div>
      <h5>
        <a href="http://jennifers.sgedu.site/">Fictional University</a>
      </h5>
      <p>
        In this course we got a great overview of how to create a custom wordpress template with custom post types and fields.
      </p>
    </div>
  </div>
  <hr>
    <div class="post container">
    <h4 class="headline">
      Udemy Course: Modern React with Redux
    </h4>
    <p>
      This course introduces the basics of React and Redux. Understanding first, basic React, then building on it to understand how Redux works with it. This course teaches how containers, components, and middlewear all work together in react applications. 
    </p>
  </div>
</div>

<% include ./partials/footer %>
