<% include ./partials/header %>
<div class="viewport1-wrapper">
    <div class="viewport1 img-fluid">
        <div class="tag-line">
            <div class="container row ">
                <div class="col-md-6 offset-md-6 col-sm-12 intro-box">
                    <h1>Hey, I'm <strong>Jenna</strong> and I'm here to <strong>help</strong>.</h1>
                    <p>I'm a front end developer living in Ogden, Utah. I'd love to help make your dream website a reality.</p>
                </div>
            </div>
        </div>
        <i class="fas fa-arrow-down fa-2x arrow bounce"></i>
    </div>
</div>
<div class="viewport2">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-react fa-5x"></i>
                    <h3 class="interest-title">React</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-node-js fa-5x"></i>
                    <h3 class="interest-title">NodeJS</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-python fa-5x"></i>
                    <h3 class="interest-title">Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-js fa-5x"></i>
                    <h3 class="interest-title">Javascript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-css3 fa-5x"></i>
                    <h3 class="interest-title">CSS3</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-html5 fa-5x"></i>
                    <h3 class="interest-title">HTML5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-wordpress-simple fa-5x"></i>
                    <h3 class="interest-title">Wordpress</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-git fa-5x"></i>
                    <h3 class="interest-title">Git</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-6 interest-wrapper">
                <div class="interest-box">
                    <i class="fab fa-npm fa-5x"></i>
                    <h3 class="interest-title">NPM</h3>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="body">
    <div class="viewport3">
        <div class="container">
            <h1>Food Engineer => Web Developer.</h1>
            <p class="lead">Some stay on the same path, others diverge and find what interests them most.</p>
            <div class="about-link-box underline">
                <a class="about-link" href="/about">Learn More About Jenna  <i class="fas fa-arrow-right icon-space"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
