<% include ./partials/header %>
<div class="container body">
  <div>
    <h1>
      Current and Past Projects
    </h1>
  </div>
  <hr>
  <div class="post container">
    <h2 class="headline">
      Drink Blog - In Progress
    </h2>
    <div>
      <h5>
        I will post the link once we have it up and running.
      </h5>
      <p>
        This is going to be a react app. I throughly enjoyed learning the differences between routing this web app compared to YelpCamp. React is probably the future of web development because it makes reusing code so easy! 
      </p>
    </div>
  </div> 
  <hr>
  <div class="post container">
    <h2 class="headline">
      Top Knot Climbing Gym
    </h2>
    <div>
      <h5>
        <a class=" TK-button btn btn-md" href="/topknotclimbing/home"><img class="brand-icon" src="/TopKnotFavi/mstile-150x150.png"> Top Knot Climbing Gym</a>
      </h5>
      <p>
        I've been considering what to work on to put into my portfolio. There are tons of different fake project ideas out there. As I am still too new to find a true client, I decided to design/redesign the website for our favorite climbing gym. I believe they made theirs with Wix but I will start from scratch and see how far I get.
      </p>
    </div>
  </div>   
</div>
<% include ./partials/footer %>
