/* Body */
html {
  height: 100%;
  width: 100%;
  position: relative;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F5F5F6;
  min-height: 100%;
  font-size: 110%;
  font-weight: 300;
  min-width: 100%;
  position: relative;
  border: 5px solid #00251a;
}

.body {
  margin-top: 150px;
  padding-bottom: 150px;
}

.body-box {
/*  border: 5px solid #4a148c;*/
  padding: 2px;
}

/* Header */
.navbar-main {
  background-color: rgba(0, 77, 64, .9);
  z-index: 1;
  position: absolute;
  width: 100%;
}

.active {
  text-decoration: underline;
}

.nav-item:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.navbar-brand:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}


/* Home page */

.viewport1-wrapper{
  width: 100%;
 height: 100vh;
 position: static;
 padding: 0;
 z-index: -1;
}

.viewport1{
  width: 100%;
  background: url(/images/AloePlant-JMS.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%;  
  position: absolute;
  z-index: -1;
}

.tag-line{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.intro-box{
  margin-top: 15vh;
  margin-left: 5vh;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  padding:30px;
}
.intro-box h1{
  font-size: 200%;
}
.intro-box p{
  font-size: 100%;
}
.arrow{
  color: rgba(255,255,255,.6);
  position: absolute;
  margin-left: 10vh;
  margin-top: 90vh;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 2s infinite linear;
    -o-animation: bounce 2s infinite linear;
    -webkit-animation: bounce 2s infinite linear;
    animation: bounce 2s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.viewport2{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: rgba(0, 77, 64, .2);

}

/*.cover-photo{
  width: 100%;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}*/

.viewport3{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: #F5F5F6;

}

.resume-link{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
}
.resume-link:hover{
  text-decoration: none;
  color: #4a148c;
}

.resume-link-box{
  padding:10px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  border-radius: 10px;
}
.resume-link-box:hover{
  background-color: rgba(0, 0, 0, .2);
  transition: all .5s ease-in-out;
}

/* about link front page*/
.about-link-box{
  width: 300px;
  padding: 5px;
}

.about-link{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.about-link:hover{
  text-decoration: none;
  color: #4a148c;
}
.underline {
  position: relative;
  color: #000;
  text-decoration: none;
}
.underline:hover{
  color: #000;
}
.underline:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before{
   visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* home page interest icons */
.interest-box{
  height: 160px;
  width: 160px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  float: none;
  margin: 0 auto;
  background-color: #F5F5F6;
  opacity: 0.8;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.interest-wrapper{
  float: none;
  margin: 10px auto;
}

.interest-title{
  font-weight: 200;
}

.interest-box .icon{
  float: none !important;
}

.icon:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  color: #4a148c;
}

.icon-space{
  margin-left: 7px;
  font-size: 20px;
  opacity: .6;
}

/*ABOUT PAGE*/
.personal-interest-box{
  height: 180px;
  width: 180px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  float: none;
  margin: 0 auto;
  background-color: #F5F5F6;
  opacity: 0.8;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}


.row-space{
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-space{
  margin-top: 30px;
  margin-bottom: 30px;
}

.space{
  margin-bottom: 20px;
  opacity: .85;
}


.project-link-box{
  width: 290px;
  padding: 5px;
}

.project-link{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.project-link:hover{
  text-decoration: none;
  color: #4a148c; 
}

/* Footer */
#footer{
  background-color: #E1E2E1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  padding-bottom: 10px;
}
.footer-text{
  text-align: center;
  padding-top: 10px;
}

/* Projects page */

.headline {
  padding-bottom: 20px;
  font-weight: 300;
}
.brand-icon{
  height: 30px;
}
.TK-button{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: white;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 2px 10px 3px #888888;
}
.TK-button:hover{
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.github-link-box{
  width: 270px;
  padding: 5px;
}

.github-link{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.github-link:hover{
  text-decoration: none;
  color: #4a148c; 
}

.courses-link-box{
  width: 260px;
  padding: 5px;
}

.courses-link{
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.courses-link:hover{
  text-decoration: none;
  color: #4a148c; 